language: python

python:
  - "2.7"
  - "3.4"
  - "pypy"

before_install:
    - sudo apt-add-repository ppa:tsuru/ppa -y
    - sudo apt-get update -qq
    - sudo apt-get install gandalf-server -qq

install:
    # install python requirements
    - make setup

script:
    # run tests
    - make test

after_success:
  - coveralls

services: mongodb